[submodule "Libs/SDL3"]
	path = Libs/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "Libs/SDL3_net"]
	path = Libs/SDL3_net
	url = https://github.com/libsdl-org/SDL_net.git
[submodule "Libs/SDL3_image"]
	path = Libs/SDL3_image
	url = https://github.com/libsdl-org/SDL_image.git
